/* color:#fdcb6e */
*{
    font-family: 'PT Sans Narrow', sans-serif;

}
body{
    margin-left: 100px;
    margin-right: 100px;
    background-color:#EBECE7;
}
#logo{
    border-radius: 50%;
    width: 10%;
    height: auto;
    align-self: center;
}
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-bar{
    align-self: center;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
 
}
.menubar{
    /* justify-content: space-evenly; */
    margin-right: 50px;
    text-decoration: none;

}
.nav_link{
    font-size: 1.5em;
    color: gray;
    text-decoration: none;
}
.open-account{
    background-color: #fdcb6e;
    height: 40px;
    align-items: center;
    border-radius: 3rem;
}
.front-title{
    display: inline-flex;
    font-size: 7vh;
    flex-direction: column;
    
}
#money-img{
    float: right;
    width: 30em;
    margin-top: 8em;
}
.money-pic{
    float: right;
}
.front-title h1{
    margin-bottom: 0;
}
.front-title h4{
    margin:0;
}
.btn--text{
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
    width: 10em;
    text-decoration: underline;
    font-weight: 700;
    color:#fdcb6e ;
}
.highlight{
    background: #DE6262;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFB88C, #fdcb6e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFB88C, #fdcb6e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-top-left-radius: 50px;
    border-bottom-right-radius:20px ;
}
.section{
    margin-top:8em ;
}
.section_title{
    color: #f7a206;
   
}
.section_description{
    font-size: 3em;
}
.feature__feature{
    display: flex;
    justify-content: space-evenly;
    margin: 50px;

}
.feature_img{
    width: 35em;
    border-radius: 10%;
}
.feature__description{
    margin-left: 5em;
}
.feature__description h3{
    font-size: 3em;

}


section{
    border-bottom:solid 2px gray;
    padding-top: 1rem;
}
.btn{
    display: inline-block;
    font-size: 1.6rem;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
.operation{
    margin-bottom: 4rem;
}
.operations_container{
    margin-left: 24rem;
    padding:1.25rem 4.5 rem;
    
}
.operations__tab--1{
    background-color: rgb(200, 230, 33);
    border-radius: 3rem;
    width: 13rem;
    height: auto;
}
.operations__tab--2{
    background-color: rgb(85, 163, 85);
    border-radius: 3rem;
    width: 13rem;
    height: auto;
}
.operations__tab--3{
    background-color: rgb(224, 86, 86);
    border-radius: 3rem;
    width: 13rem;
    height: auto;
}
.operations_container2{
    display: inline-block;
    padding:3rem;
    margin-left: 13rem;
    font-size: 1.5em;
    background-color: white;
    text-align: justify;
  
}
.operations_container2 h3{
    margin-left: 2rem;
    color:gray;
}
.operations_container2 p{
    margin-left: 2rem;
    font-style: italic;
}
.testimonial_des{
    margin-left: 17em;
}
